@import '../../styles/form-minimum.scss';
@import '../../styles/flex-stuff.scss';

.error {
  color: red;
}

.form {
  & input {
    color: #000;
  }

  & fieldset {
    border-color: #3f51b5 !important;
  }

  button:disabled {
    background-color: rgba(200, 200, 200, 0.6) !important;
  }
}
