@import '../../styles/form-minimum.scss';
@import '../../styles/flex-stuff.scss';

.modal {
  @include flex-column-center-both();
}

.modal-body {
  position: absolute;
  width: 400px;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 5px 10px #ddddff;
}

.form {
  & input {
    color: #000;
  }

  & fieldset {
    border-color: #3f51b5 !important;
  }

  button:disabled {
    background-color: rgba(200, 200, 200, 0.6) !important;
  }
}
