{
    "extends": [
        "airbnb", 
        "airbnb/hooks",
        "airbnb-base"
    ],
    "env": {
        "es6": true,
        "browser": true
    },
    "rules": {
        "no-console": "off",
        "import/no-unresolved": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}