@mixin flex-column-center-both() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
};

@mixin flex-center-align() {
    display: flex;
    align-items: center;
}