@import './colors.scss';
@import './flex-stuff.scss';
 
.formWrapper {
    margin-top: 40px!important;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #ddddff;
}

.form {
    min-height: 300px;
    padding: 10px;
    @include flex-column-center-both();
    justify-content: space-evenly;
}
