@import '../../styles/flex-stuff.scss';
$footer-height: 100px;

.footer {
    width: 100%;
    height: $footer-height;
    background-color: #3f51b5;
    @include flex-column-center-both();
}

.text {
  display: flex;
  align-items: center;
  color: #fff;

  & svg {
    margin: 10px;
  }
  & svg:hover {
    fill: red;
  }
}

